.App {
  font-family: sans-serif;
  text-align: center;
}

#contentWrap {
  width: 100%;
  min-width: 1280px;
  display: none;
}

.btn {
  border-radius: 0.8rem;
  background: #fff;
  width: 15%;
  padding: 7px 40px;
  border: 1px solid rgb(92, 190, 72);
  color: rgb(16, 63, 34);
  font-size: 17px;
  margin-top: 5%;
  cursor: pointer;
}

#joinpagebtn {
  width: 15%;
  height: 10%;
  margin-top: 10%;
}

#loginpagebtn {
  width: 15%;
  height: 10%;
  margin-top: 10%;
}

.JoinPage {
  display: flex;
  flex-direction: column;
}

.LoginPage {
  display: flex;
  flex-direction: column;
}

#JoinForm {
  float: left;
  /*display: none;*/
  
  text-align: center;
  margin: 10%; 
}


#LoginForm {
  float: left;
  
  text-align: center;
  margin: 10%; 
}

#logoutHeader {
  background-color: rgb(235, 231, 187);
}

#logoutBtn{
  width: 10%;
  cursor: pointer;
  text-align: center;
}


nav{
  width: 100%;
  min-width: 1280px;
  height: 65px;
  
  color: rgb(16, 63, 34);
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

#roomWrap {
  width: 200px;
}

#roomList {
  border: 1px solid rgb(92, 190, 72);
  border-radius: 5px;
}


#roomHeader {
  background-color: rgb(92, 190, 72);
  color: #fff;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
}

#out {
  background-color: rgb(235, 231, 187);
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  width: 30%;
  cursor: pointer;
}

.roomName {
  display: flex;
  flex-direction: row;
}

.roomEl {
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  width: 70%;
  cursor: pointer;
}

.roomEl:hover{
  background: #f0f0f0;
}

#chatWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  border: 1px solid #ddd;
}

#chatHeader {
  background-color: rgb(92, 190, 72);
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 1px solid #ddd;
}

#chatLog {
  height: 550px;
  overflow-y: auto;
  padding: 10px;
}

.myMsg {
  text-align: right;
}

.anotherMsg {
  text-align: left;
  margin-bottom: 5px;
}

.msg {
  display: inline-block;
  border-radius: 15px;
  padding: 7px 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.anotherMsg > .msg {
  background-color: #f1f0f0;

}

.myMsg > .msg {
  background-color: rgb(92, 190, 72);
  color: #fff;
}

.anotherName {
  font-size: 12px;
  display: block;
}

#chatForm {
  display: block;
  width: 100%;
  height: 50px;
  border-top: 2px solid #f0f0f0;
}

#message {
  width: 85%;
  height: calc(100% - 1px);
  border: none;
  padding-bottom: 0;
}

#message:focus {
  outline: none;
}

#chatForm > input[type=submit] {
  outline: none;
  border: none;
  background: none;
  color: rgb(16, 63, 34);
  font-size: 17px;
}

#memberWrap{
  width: 200px;
  padding-right: 50px
}

#memberList {
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

#memberHeader {
  text-align: center;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 600;
}

.memberEl {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 20px;
  font-size: 14px;
}

#contentCover{
  width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.notice {
  text-align: center;
  color: gray;
  font-size: 13px;
}