.Map {
    text-align: center;
  }
  
  .Map-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Map-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Map-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Map-link {
    color: #61dafb;
  }
  
  @keyframes Map-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .btn {
    color: white;
    background: #59a85f;
    padding: 0.5rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    outline-style: none;
  }

  .input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    outline-style: none;
  }

  .search_form{
    float: left;
    display: flex;
    justify-content: left;
    background-color: #59a85f;
    padding: 0.35rem;
    height: auto;
    width: 210px;
    border-radius: 0.8rem;
    margin: 3px;
  }

  .gps_container{
    float: right;
    background-color: #59a85f;
    padding: 0.3rem;
    height: auto;
    width: auto;
    border-radius: 0.8rem;
    margin:3px;
  }

  .search_btn{
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
  }

  .recom{
    position: relative;
  }